* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 48px;
}

.main {
    /* width: 100%; */
    overflow: hidden;
}

.nav {
  padding: 20px 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (max-width: 1450px) {
  .nav {
    padding: 25px;
  }
}
.nav-left-logo {
  /* background-color: red; */
  width: 120px;
}

.nav-left-logo img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
}

.nav-left-data {
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-left-data i {
  font-size: 25px;
}

.nav-left-data h3 {
  font-size: 16px;
}

.nav-left h3 {
  font-size: 16px;
}

.nav-right {
  display: flex;
  gap: 14px;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  justify-content: flex-end;
}

.nav-right i {
  font-size: 22px;
}

#icon-1050 {
  font-size: 22px;
  display: none;
}

@media (max-width: 1050px) {
  .nav-right #icon-1050 {
    display: block;
  }
  .nav-left-data {
    display: none;
  }
  .nav-left h3 {
    display: none;
  }
  .nav-right a {
    display: none;
  }
  .nav {
    padding: 0px;
  }
}

.nav-right a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-right .btn-1 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 11px 12px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 1450px) {
  .nav-right .btn-1 {
    display: none;
  }

  .nav {
    padding-right: 20px;
  }
}

.nav-right .btn-2 {
  font-size: 15px;
  color: #ffffff;
  padding: 13px 7px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.mid-top {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  margin-top: 30px;
}

.mid-top h1 {
  font-size: 70px;
  text-transform: capitalize;
}

.mid-top .p3 {
  font-size: 40px;
  font-weight: 700;
  display: none;
}

@media (max-width: 550px) {
  .mid-top .p2 {
    font-size: 38px;
    font-weight: 700;
  }
}

@media (max-width: 550px) {
  .p2 {
    display: none;
  }
}

.mid-top .pa1 {
  font-size: 19px;
  text-transform: capitalize;
}
.mid-top .p2 {
  text-transform: capitalize;
  font-size: 5vmin;
  display: none;
}
span {
  margin-left: 50%;
}
@media (max-width: 1450px) {
  .mid-top .p2 {
    display: block;
  }
  .mid-top h1 {
    display: none;
  }
}

.mid-btn {
  display: flex;
  gap: 10px;
}

.mid-btn .mid-btn-1 {
  font-size: 15px;
  color: #ffffff;
  padding: 17px 29px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.mid-btn-2 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 16px 19px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

.pa2 {
  font-size: 28px;
  text-transform: capitalize;
  display: none;
  line-height: 1.3;
}

@media (max-width: 890px) {
  .mid-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pa2 {
    font-size: 23px;
    display: block;
  }

  .mid-top .pa1 {
    display: none;
  }
}

.mid-logo {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: center;
}

.mid-logo-imges {
  width: 3%;
  /* background-color: red;  */
}

.mid-logo h5 {
  color: rgba(0, 0, 0, 0.366);
  font-size: 16px;
  font-weight: 200;
}

.mid-logo-imges img {
  width: 80%;
  height: 100%;
  font-size: 5px;
  object-fit: cover;
  font-size: 20px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.288);
  overflow: hidden;
}

.md-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-video {
  margin-top: 60px;
  width: 50%;
}

.md-video video {
  width: 100%;
}

.md-bottom-data {
  margin-top: 30px;
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(35, 175, 180); */
}

.mid-data1 {
  display: flex;
  gap: 30px;
}

.mid-data1 h1 {
  color: #481a54;
  font-size: 29px;
  font-weight: 900;
}

.mid-point {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.mid-point i {
  font-size: 86px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.763);
  display: none;
}

@media (max-width: 1230px) {
  .mid-point {
    display: block;
  }

  .mid-point i {
    display: block;
  }
  .md-bottom-data {
    display: none;
  }
}

.container {
  margin-top: 50px;
  width: 100%;
  background-color: #4a154b;
  color: white;
}

.container-top {
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.container-top h1 {
  font-size: 1.3rem;
  font-weight: 600;
}
/* .container-top span{
    margin-left: 10%;
} */

/* .container-top #span2{
    margin-left: 40%;
} */
.container-top p {
  font-size: 0.4rem;
  line-height: 1.3;
}

#top-p {
  font-size: 0.4rem;
  line-height: 1.3;
  display: none;
}
#top-h1 {
  font-size: 1.2rem;
  font-weight: 600;
  display: none;
}

@media (max-width: 760px) {
  .container-top h1 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  #top-p {
    display: block;
  }

  .container-top p {
    display: none;
  }

  #top-h1 {
    display: block;
  }

  .container-top h1 {
    display: none;
  }
}

.container-bottom {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
  width: 100%;
  /* height: 700px; */
}

.con-left {
  width: 40%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  padding: 40px 30px;
  color: rgba(0, 0, 0, 0.587);
  border-radius: 10px;
}
.con-left h1 {
  font-size: 0.4rem;
}

.con-right {
  width: 50%;
  /* height: 100%; */
  border-radius: 10px;
  /* background-color: rgb(112, 78, 78); */
}

.con-right img {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 1060px) {
  .con-left {
    display: none;
  }

  .container-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .con-right {
    width: 100%;
    border-radius: 10px;
  }
}

.btn-bar {
  padding: 50px 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /* background-color: red; */
}

.all-btn {
  box-shadow: 4px 4px 10px rgb(169, 160, 160);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid black;
}

.all-btn button {
  background-color: white;
  border: none;
  color: #3d0157;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 20px;
  position: sticky;
  /* top: 100%; */
}

.all-btn button:hover {
  background-color: #3d015752;
}

.bottom-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

@media (max-width: 900px) {
  .bottom-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 50px;
  }

 

  .bottom-data .p2 {
    display: block;
  }

  .bottom-data h4 {
    display: block;
  }
}

.bottom-data h1 {
  font-size: 1.4rem;
  color: #540073;
}
.bottom-data h4 {
  font-size: 0.5rem;
  color: #000000;
  display: none;
}

@media (max-width: 980px) {
  .bottom-data h1 {
    font-size: 1rem;
    color: #540073;
  }
  .all-btn {
    box-shadow: 4px 4px 10px rgb(169, 160, 160);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    padding: 6px 13px;
    border-radius: 20px;
    border: 1px solid black;
  }

  .all-btn button {
    background-color: white;
    border: none;
    color: #3d0157;
    font-weight: 700;
    font-size: 13px;
    padding: 7px 6px;
    border-radius: 20px;
    position: sticky;
    /* top: 100%; */
  }
}

.bottom-data p {
  font-size: 0.4rem;
  font-weight: 200;
}
.bottom-data .p2 {
  font-size: 0.2rem;
  font-weight: 200;
  display: none;
}

.container2 {
  display: flex;
  align-items: center;
  gap: 140px;
  padding: 100px 200px;

  width: 100%;
  background-color: #f6e4ff49;
}

.container2-left {
  width: 118%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* background-color: red; */
}

.container2-left h1 {
  font-size: 0.4rem;
  color: #481a54;
}

.con-bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  margin-top: 60px;
}

.con-bottom h1 {
  font-size: 1rem;
  font-weight: 900;
}
.con-bottom h3 {
  font-size: 0.3rem;
  color: #481a54;
  line-height: 1.3;
}



.container2-right img {
  width: 40vmax;
  object-fit: cover;
  /* overflow: hidden; */
}

@media (max-width: 1280px) {
  .container2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    /* padding: 120px 220px; */
    width: 100%;
    background-color: #f6e4ff49;
    padding: 50px 50px;
    align-items: flex-start;
  }

  .container2-right img {
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
  }
}

.con-bottom h6 {
  font-size: 0.3rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.466);
}

.container3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 50px 40px;
}

.container3 h1 {
  font-size: 0.9rem;
}

.container-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 70px;
}

.con-btn1 {
  font-size: 15px;
  color: #ffffff;
  padding: 17px 29px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.con-btn2 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 16px 19px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

.container4 {
  padding: 50px 45px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #481a54;
  align-items: center;
}

.container4 {
  font-size: 0.5rem;
}
.container4-box {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 140px;
}

.container4-box h1 {
  font-size: 1.5rem;
  color: #d17dfe;
  font-weight: 900;
}

.box4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box4 p {
  font-size: 0.4rem;
  font-weight: 700;
}

@media (max-width: 770px) {
  .container3 h1 {
    display: none;
  }
}

@media (max-width: 760px) {
  .container-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
  }

  .con-btn1 {
    font-size: 15px;
    color: #ffffff;
    /* padding: 12px 250px; */
    width: 150%;
    background-color: transparent;
    border-radius: 5px;
    background-color: #611f69;
    text-transform: uppercase;
    border: none;
  }

  .con-btn2 {
    font-weight: 400;
    font-size: 15px;
    color: #611f69;
    /* padding: 12px 250px; */
    width: 150%;
    background-color: transparent;
    border: 1px solid #611f69;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .container4-box {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .container4-box h1 {
    font-size: 2rem;
    color: #d17dfe;
    font-weight: 900;
  }

  .box4 p {
    font-size: 0.6rem;
    font-weight: 700;
  }

  .container4 {
    font-size: 0.4rem;
  }
}

.container5 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.container5-mid {
  padding: 50px 50px;

  display: flex;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

.con4-left {
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: center;  */
  border-right: 2px solid black;
}

.con4-left-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.container5 #c-h1 {
  font-size: 1rem;
}

.con4-left-box h1 {
  font-size: 0.9rem;
}

.con4-left-box p {
  margin-left: 20px;
  font-size: 0.3rem;
}

.con4-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.con4-right-box {
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.con4-right-box h1 {
  font-size: 0.6rem;
}

.con4-right-box p {
  font-size: 0.3rem;
}

.second-con4 img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1040px) {
  .container5 #c-h1 {
    font-size: 0.7rem;
  }

  .container5-mid {
    padding: 50px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
  }

  .con4-left {
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center;  */
    border-right: 2px solid rgba(0, 0, 0, 0);

    border-bottom: 2px solid black;
  }

  .con4-left-box p {
    /* margin-left: 20px; */
    font-size: 0.3rem;
  }
}

.container6 {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.con6-mid {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.con6-box {
    border-radius: 10px ;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px rgb(169, 160, 160);
  gap: 10px;

}

.con6-box{
    width: 100%;
}

.box-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px 10px;

}
.con6-box img{
    border-radius: 10px ;

    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container6 #h2 {
  font-size: 0.9rem;
}
.box-name h6 {
  font-size: 0.2rem;
  font-weight: 200;

}
.box-name h2 {
  font-size: 0.4rem;
  font-weight: 900;
}

.box-btn {
  font-size: 0.2rem;
    padding: 2px 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-btn a {
 font-size: 0.2rem;
 font-weight: 900;
 text-decoration: none;
 color: #1264A3;
}


.box-btn i {
 font-size: 0.4rem;
 text-decoration: none;
 color: #1264A3;
}


@media (max-width:850px) {
    .container6 #h2 {
  font-size: 0.6rem;
}
.con6-mid {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

}

.footer{
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 30px 50px;
    background-color: #F2F2F2;
}

.footer-box1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.footer-box1 h3{
    font-size: 17px;
    text-transform: capitalize;
   color: rgba(0, 0, 0, 0.665);

}

.footer-box1 a{
   color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}
.footer-box1 a:hover{
    text-decoration: underline;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;

}

.footer-nav-left{
    padding:30px 50px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.log1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.log1 i{
 font-size: 22px;
 color: rgba(0, 0, 0, 0.724);
}
.log1 a{
      color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;

}
.footer-nav-left a{
      color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;

}

.footer-nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
}

.footer-nav-right a{
       color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}

.footer-nav-right h3{
       color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}

a:hover{
    text-decoration: underline;
}

@media (max-width:950px) {

    .footer{
        display: none;
    }

     .footer-nav{
        display: none;
    }
    
}