* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 48px;
}

.main {
    /* width: 100%; */
    overflow: hidden;

}

@media (max-width: 868px) {
  .main{
    padding: 6px 10px;
  }

 
}


.nav {
  padding: 20px 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (max-width: 1450px) {
  .nav {
    padding: 25px;
  }
}
.nav-left-logo {
  /* background-color: red; */
  width: 120px;
}


@media (max-width: 565px) {
  
   .nav-left-logo {
  width: 73%;
        
   }
  .btn-2 {
  font-size: 0.1rem;
  color: #ffffff;
  padding: 13px 7px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #54691f;
  text-transform: uppercase;
  border: none;
}


}


.nav-left-logo img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
}

.nav-left-data {
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-left-data i {
  font-size: 25px;
}

.nav-left-data h3 {
  font-size: 16px;
}

.nav-left h3 {
  font-size: 16px;
}

.nav-right {
  display: flex;
  gap: 14px;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  justify-content: flex-end;
}

.nav-right i {
  font-size: 22px;
}

#icon-1050 {
  font-size: 22px;
  display: none;
}

@media (max-width: 1050px) {
  .nav-right #icon-1050 {
    display: block;
  }
  .nav-left-data {
    display: none;
  }
  .nav-left h3 {
    display: none;
  }
  .nav-right a {
    display: none;
  }
  .nav {
    padding: 0px;
  }
  .nav-right i {
    display: none;
}
}

.nav-right a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-right .btn-1 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 11px 12px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 1450px) {
  .nav-right .btn-1 {
    display: none;
  }

  .nav {
    padding-right: 20px;
    padding-left: 20px;
    /* padding-top: 10px; */
  }
}

.nav-right .btn-2 {
  font-size: 0.27rem;
  color: #ffffff;
  padding: 10px 8px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.mid-top {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  margin-top: 30px;
}

.mid-top h1 {
  font-size: 70px;
  text-transform: capitalize;
}

.mid-top .p3 {
  font-size: 40px;
  font-weight: 700;
  display: none;
}

/* @media (max-width: 550px) {
  .mid-top .p2 {
    font-size: 8px;
    font-weight: 700;
  }

  .mid-top  {
 padding: 20px;
}

 
} */

/* @media (max-width: 550px) {
  .p2 {
    display: none;
  }
} */

.mid-top .pa1 {
  font-size: 19px;
  text-transform: capitalize;
}

.mid-top .pa1 br {
 display: none;
}
/* .mid-top .p2 {
  text-transform: capitalize;
  font-size: 5vmin;
  display: none;
} */
span {
  margin-left: 50%;
}
@media (max-width: 1450px) {
  /* .mid-top .p2 {
    display: block;
  }
  */
.mid-top h1 {
  font-size: 0.7rem;
  text-transform: capitalize;
  text-align: center;
}

.mid-top h1 br{
  display: none;
}

 .mid-top .pa1 {
  font-size: 0.3rem;
  text-transform: capitalize;
  text-align: center;

}



}

@media (max-width:550px) {
  .mid-top h1 {
  font-size: 0.72rem;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  /* background-color: red; */
}

.mid-top h1 br{
  display: none;
}

 .mid-top .pa1 {
  font-size: 0.4rem;
  font-weight: 100;
  text-transform: capitalize;
  /* text-align: center; */
  line-height: 1.5;

}

.mid-top .pa1 br {
 display: block;
}
}

.mid-btn {
  display: flex;
  gap: 10px;
}

.mid-btn .mid-btn-1 {
  font-size: 15px;
  color: #ffffff;
  padding: 17px 29px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.mid-btn-2 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 16px 19px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

/* .pa2 {
  font-size: 28px;
  text-transform: capitalize;
  display: none;
  line-height: 1.3;
} */

@media (max-width: 890px) {
  .mid-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* .pa2 {
    font-size: 23px;
    display: block;
  } */

 
}

.mid-logo {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: center;
  /* background-color: red; */
}

.img-mid{
   height: 20px;        /* ✔ sab same height */
  width: auto;         /* ✔ aspect ratio safe */
  object-fit: contain; /* ✔ logo cut nahi hoga */
  opacity: 0.7;
   filter: grayscale(100%);   
}

.mid-logo h5 {
  color: rgba(0, 0, 0, 0.366);
  font-size: 16px;
  font-weight: 200;
}


 @media (max-width:544px) {
     .mid-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  gap: 40px  ;
  /* line-height: 1.9; */
}

.img-mid{
   height: 0.6rem;        
  width: auto;         
  object-fit: contain; 
  opacity: 0.7;
   filter: grayscale(100%);   
}

.mid-logo h5 {
display: none;
}
} 

.md-bottom {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-video {
  overflow: hidden;
  margin-top: 60px;
  width: 50%;
}

.md-video video {
  object-position: center;
  width: 100%;
}


@media (max-width:768px) {
 .md-video {
  margin-top: 60px;
   /* background-color: red; */
   width: 100%;
  overflow: hidden;
}

.md-video video {
  width: 100%;
  height: 100%;
   object-fit: cover;         
  object-position: center;
} 
}

.md-bottom-data {
  margin-top: 30px;
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(35, 175, 180); */
}

.mid-data1 {
  display: flex;
  gap: 30px;
}

.mid-data1 h1 {
  color: #481a54;
  font-size: 29px;
  font-weight: 900;
}

.mid-point {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.mid-point i {
  font-size: 86px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.763);
  display: none;
}

@media (max-width: 1230px) {
  .mid-point {
    display: block;
  }

  .mid-point i {
    display: block;
  }
  .md-bottom-data {
    display: none;
  }
}

.container {
  margin-top: 40px;
  /* width: 100%; */
  background-color: #4a154b;
  color: white;
}

.container-top {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.container-top h1 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
.container-top p {
  font-size: 0.4rem;
  line-height: 1.3;
  text-align: center;

}



@media (max-width: 780px) {

  .container {
  margin-top: 20px;
  width: 100%;
  background-color: #4a154b;
  color: white;
}

  .container-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  /* background-color: RED; */
  /* justify-content: flex-start; */
}

  .container-top h1 {
    font-size: 0.7rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
  }

  .container-top p {
     font-size: 0.4rem;
  line-height: 1.3;
  /* text-align: center; */
  }

   .container-top h1 br {
    display: none;
  }
  .container-top p br {
    display: none;
  }

 

 
}

.container-bottom {
  display: flex;
  align-items: center;
  /* padding: 50px 100px; */
  gap: 50px;
  /* width: 100%; */
  /* height: 700px; */
}

.con-left {
  width: 40%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  padding: 40px 30px;
  color: rgba(0, 0, 0, 0.587);
  border-radius: 10px;
}
.con-left h1 {
  font-size: 0.4rem;
}

.con-right {
  width: 50%;
  /* height: 100%; */
  border-radius: 10px;
  /* background-color: rgb(112, 78, 78); */
}

.con-right video {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 1060px) {
  .con-left {
    display: none;
  }

  .container-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .con-right {
    width: 100%;
    /* background-color: red; */
    border-radius: 10px;
    overflow: hidden;
  }

  .con-right video {
    object-position: center; 
  overflow: hidden;
  width: 100%;
  height: 100%;
}
}

.btn-bar {
  padding: 50px 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /* background-color: red; */
}

.all-btn {
  box-shadow: 4px 4px 10px rgb(169, 160, 160);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid black;
}

.all-btn button {
  background-color: white;
  border: none;
  color: #3d0157;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 20px;
  position: sticky;
  /* top: 100%; */
}

.all-btn button:hover {
  background-color: #3d015752;
}

@media (max-width:768px) {
  .btn-bar {
 display: none;
  /* background-color: red; */
}
  
}

.bottom-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

/* @media (max-width: 900px) { */
  /* .bottom-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 50px;
  } */
/* } */

.bottom-data h1 {
  font-size: 1.1rem;
  color: #540073;
}


/*@media (max-width: 980px) {
  .bottom-data h1 {
    font-size: 1rem;
    color: #540073;
  }
  .all-btn {
    box-shadow: 4px 4px 10px rgb(169, 160, 160);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    /* padding: 6px 13px;/ */
    /* border-radius: 20px;/ */
    /* border: 1px solid black; */
  /* } */

  /* .all-btn button {
    background-color: white;
    border: none;
    color: #3d0157;
    font-weight: 700;
    font-size: 13px;
    padding: 7px 6px;
    border-radius: 20px;
    position: sticky; */
    /* top: 100%; */
  /* } */
/* } */

@media (max-width:1020px) {
  .bottom-data h1 {
  font-size: 0.9rem;
  color: #540073;
}


}

@media (max-width:1060px) {
   .bottom-data h1 {
  font-size: 0.9rem;
  text-align: left;
  color: #540073;
}

.bottom-data {
  display: flex; 
  flex-direction: column;
   gap: 20px;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 40px;
  /* background-color: red; */
}
.bottom-data p {
  font-size: 0.49rem;
  font-weight: 100;
  /* text-align: center;   */
}

.bottom-data p br {
  display: none;
}
  
}
@media (max-width:768px) {
   .bottom-data h1 {
  font-size: 0.5rem;
  text-align: left;
  color: #540073;
}

.bottom-data {
  display: flex; 
  flex-direction: column;
   gap: 20px;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 20px;
  /* background-color: red; */
}
.bottom-data p {
  font-size: 0.21rem;
  font-weight: 100;
  /* text-align: center;   */
}

.bottom-data p br {
  display: none;
}
  
}
.bottom-data p {
  font-size: 0.34rem;
  font-weight: 100;
  text-align: center;
}

.container2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: center;
  background-color: #f6e4ff49;
}

.container2-left {
  /* width: 118%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 25px;
  /* background-color: red; */
}

.container2-left h1 {
  font-size: 0.44rem;
  color: #481a54;
  gap: 60px;
  display: flex;
  
}

.con-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-top: 60px;
} 

.con-bottom h1 {
  font-size: 1.43rem;
  font-weight: 900;
}
.con-bottom h3 {
  font-size: 0.36rem;
  color: #481a54;
  line-height: 1.2;
}

@media (max-width:1040px) {
  .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background-color: #f6e4ff49;
}

.container2-left {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
   padding-left: 20px;
  justify-content: center;
  gap: 50px;
}

.container2-left h1 {
  font-size: 0.64rem;
  color: #481A54;
  
}
.container2-left h1 br{
display: none;
}

.con-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-top: 60px;
} 

.con-bottom h1 {
  font-size: 1.43rem;
  font-weight: 900;
  color: #9602C7;
}
.con-bottom h3 {
  font-size: 0.4rem;
  color: rgba(0, 0, 0, 0.756);
  font-size: 100;
  line-height: 1.2;
}

.con-bottom h3 br{
display:none;
}
.container2-right{
  width: 100%;
  height: 100%;
  text-align: center;

}
.container2-right img {
  width: 100%; 
  object-fit: cover;
  overflow: hidden;
  background-color: black;
}


}
@media (max-width:768px) {
  .container2 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 4px;
  justify-content: center;
  /* background-color: red; */
}

.container2-left {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
  padding: 10px 30px;
}

.container2-left h1 {
  font-size: 0.47rem;
  color: #481A54;
  
}
.container2-left h1 br{
display: none;
}

.con-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  /* margin-top: 60px; */
} 

.con-bottom h1 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #9602C7;
}
.con-bottom h3 {
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.756);
  font-size: 100;
  line-height: 1.2;
}

.con-bottom h3 br{
display:none; 
}
.container2-right{
  width: 100%;
  height: 100%;
  text-align: center;
  /* padding-right: 50px; */

  /* padding: 10px 70px; */

}
.container2-right img {
  width: 100%; 
  /* object-fit: cover;  */
  overflow: hidden;
  background-color: black;
}


}

#h1-down{
  font-size: 0.39rem;
  border: none;
  color: black;
}

#h3-down{
  font-size: 0.29rem;
  border: none;
  color: rgba(0, 0, 0, 0.785);
  font-weight: 100;
  margin-left: 4px;
}



.container2-right img {
  width: 40vmax;
  object-fit: cover;
  /* overflow: hidden; */
}

/* @media (max-width: 1280px) { */
  /* .container2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 30px; */
    /* padding: 120px 220px; */
    /* width: 100%; */
    /* background-color: #f6e4ff49; */
    /* padding: 50px 50px;/ */
    /* align-items: flex-start; */
  /* } */ 

  /* .container2-right img { */
    /* width: 100%; */
    /* object-fit: cover; */
    /* overflow: hidden; */
  /* }/ */
/* } */

.con-bottom h6 {
  font-size: 0.3rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.466);
}

.container3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 50px 40px;
}

.container3 h1 {
  font-size: 0.9rem;
  text-align: center;
}

.container-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 70px;
}

.con-btn1 {
  font-size: 15px;
  color: #ffffff;
  padding: 17px 29px;
  background-color: transparent;
  border-radius: 5px;
  background-color: #611f69;
  text-transform: uppercase;
  border: none;
}

.con-btn2 {
  font-weight: 400;
  font-size: 15px;
  color: #611f69;
  padding: 16px 19px;
  background-color: transparent;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
}

.container4 {
  padding: 50px 45px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #481a54;
  align-items: center;
}

.container4 h1 {
  font-size:0.97rem;
}
.container4-box {
  padding: 20px 20px;
  display: flex;
  align-items: flex-start;
  gap: 140px;
}

.container4-box h1 {
  font-size: 1.5rem;
  color: #d17dfe;
  font-weight: 900;
  text-align: center;
}

.box4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box4 p {
  font-size: 0.46rem;
  font-weight: 900;
  text-align: center;

}

@media (max-width: 770px) {
  .container3 h1 {
    display: none;
  }
}

@media (max-width: 760px) {
  .container-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
  }

  .con-btn1 {
    font-size: 15px;
    color: #ffffff;
    /* padding: 12px 250px; */
    width: 150%;
    background-color: transparent;
    border-radius: 5px;
    background-color: #611f69;
    text-transform: uppercase;
    border: none;
  }

  .con-btn2 {
    font-weight: 400;
    font-size: 15px;
    color: #611f69;
    /* padding: 12px 250px; */
    width: 150%;
    background-color: transparent;
    border: 1px solid #611f69;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .container4-box {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .container4-box h1 {
    font-size: 2rem;
    color: #d17dfe;
    font-weight: 900;
  }

  .box4 p {
    font-size: 0.6rem;
    font-weight: 700;
  }

  .container4 {
    font-size: 0.4rem;
  }
}

@media (max-width:768px) {

   .container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
   }

   .container4 h1 {
    font-size: 0.88rem;
    font-weight: 900;
  }

    .container4-box {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
  }

  .box4 h1 {
    font-size: 1.88rem;

    color: #d17dfe;
    font-weight: 900;
  }

  .box4 p {
    font-size: 0.6rem;
    font-weight: 700;
  }

  .box4 p br{
    display: none;
  }

 

  
}

.container5 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.container5-mid {
  padding: 40px 50px;

  display: flex;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

.con4-left {
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: center;  */
  border-right: 2px solid black;
}

.con4-left-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start ;
}

.container5 #c-h1 {
  font-size: 0.9rem;
}

.con4-left-box h1 {
  font-size: 0.9rem;
}

.con4-left-box p {
  margin-left: 20px;
  font-size: 0.3rem;
}

.con4-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.con4-right-box {
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.con4-right-box h1 {
  font-size: 0.6rem;
}

.con4-right-box p {
  font-size: 0.3rem;
}

.second-con4 img {
  object-fit: cover;
  width: 100%;
}

@media (max-width:550px) {

 .container5 {
  display: flex;
  flex-direction: column;
  padding: 50px 5px;
}

.container5-mid {
  padding: 50px 0px;

  display: flex;
  gap: 20px;
  justify-content: center;
}

.con4-left {
  padding: 30px 0px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 2px solid black;
}

.con4-left-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: flex-start ;
}

.container5 #c-h1 {
  font-size: 1rem;
  text-align: center;

}

.con4-left-box h1 {
  font-size: 1.2rem;

}

.con4-left-box p {
  font-size: 1rem;
}

.con4-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.con4-right-box {
  padding: 30px 0px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.con4-right-box h1 {
  font-size: 0.51rem;
}

.con4-right-box p {
  font-size: 0.34rem;
}

.second-con4 img {
  object-fit: cover;
  width: 100%;
}
}

@media (max-width: 1040px) {
  .container5 #c-h1 {
    font-size: 0.7rem;
  }

  .container5-mid {
    padding: 50px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
  }

  .con4-left {
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center;  */
    border-right: 2px solid rgba(0, 0, 0, 0);

    border-bottom: 2px solid black;
  }

  .con4-left-box p {
    /* margin-left: 20px; */
    font-size: 0.3rem;
  }
}

@media (max-width:650px) {
  .container6 {
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.con6-mid {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
}

@media (max-width:550px) {
  .container6 #h2 {
  font-size: 0.98rem;
}
}
.container6 {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.con6-mid {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.con6-box {
    border-radius: 10px ;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px rgb(169, 160, 160);
  gap: 10px;

}

.con6-box{
    width: 100%;
}

.box-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px 10px;

}
.con6-box img{
    border-radius: 10px ;

    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container6 #h2 {
  font-size: 0.68rem;
}
.box-name h6 {
  font-size: 0.2rem;
  font-weight: 200;

}
.box-name h2 {
  font-size: 0.4rem;
  font-weight: 900;
}

.box-btn {
  font-size: 0.2rem;
    padding: 2px 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-btn a {
 font-size: 0.2rem;
 font-weight: 900;
 text-decoration: none;
 color: #1264A3;
}


.box-btn i {
 font-size: 0.4rem;
 text-decoration: none;
 color: #1264A3;
}


@media (max-width:850px) {
    .container6 #h2 {
  font-size: 0.6rem;
}
.con6-mid {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

}

.footer{
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 30px 50px;
    background-color: #F2F2F2;
}

.footer-box1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.footer-box1 h3{
    font-size: 17px;
    text-transform: capitalize;
   color: rgba(0, 0, 0, 0.665);

}

.footer-box1 a{
   color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}
.footer-box1 a:hover{
    text-decoration: underline;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;

}

.footer-nav-left{
    padding:30px 50px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.log1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.log1 i{
 font-size: 22px;
 color: rgba(0, 0, 0, 0.724);
}
.log1 a{
      color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;

}
.footer-nav-left a{
      color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;

}

.footer-nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
}

.footer-nav-right a{
       color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}

.footer-nav-right h3{
       color: rgba(0, 0, 0, 0.657);
   border: none;
   text-decoration: none;
   font-size: 12px;
   font-weight: 100;
}

a:hover{
    text-decoration: underline;
}

@media (max-width:950px) {

    .footer{
        display: none;
    }

     .footer-nav{
        display: none;
    }
    
}